.footer {
  font-size: 14px;
  line-height: 1.3;
  color: $footer-font-color;
  background-color: $footer-bg-color;
  padding-top: 30px;
  padding-bottom: 60px;

  &__email,
  &__phone {
    display: block;
    color: $footer-font-color;
    margin-top: 12px;

    @include hover(color, lighten($footer-font-color, 10%));
  }

  &__socials {
    margin-bottom: 30px;
  }

  &__icon {
    margin-right: 20px;

    @include hover(transform, scale(1.1));
  }

  &__contact,
  &__open {
    margin-bottom: 20px;
  }

  &__copyright {
    width: 198px;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
  }
}
