.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;

  @media screen and (min-width: $breakpoint-tablet) {
    height: 70px;
  }

  @media screen and (min-width: $breakpoint-laptop) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 120px;
  }

  &__nav {

    @media screen and (min-width: $breakpoint-laptop) {
      justify-self: center;
    }
  }

  &__cart {
    width: 20px;
    height: 24px;

    @include hover(transform, scale(1.1));

    @media screen and (min-width: $breakpoint-laptop) {
      justify-self: end;
    }
  }

  &__logo {
    order: 1;

    @media screen and (min-width: $breakpoint-tablet) {
      order: -1;
    }
  }

  &__burger {
    order: 2;
  }
}
