.info {
  display: flex;
  flex-direction: column;

  &__paragraph {
    display: none;
  }

  &__scroll-down {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $highlight-color;
  }
}
