.input {
  box-sizing: border-box;
  padding-left: 0;
  padding-bottom: 5px;
  font-size: 14px;
  line-height: 1.5;
  color: $main-font-color;
  background-color: $main-bg-color;
  border: none;
  border-bottom: 1px solid;
  border-color: #bdbdbd;

  &__textarea {
    height: 27px;
    font-family: $main-font-family;
    color: $main-font-color;
    margin-top: 45px;
    resize: none;
  }

  &::placeholder {
    color: #828282;
  }

  &:focus {
    border-color: $main-font-color;
    outline: none;
  }
}
