@import "utils";
@import "typography";
@import "container";
@import "heading";
@import "header";
@import "logo";
@import "nav";
@import "burger";
@import "form";
@import "button";
@import "learn-more";
@import "section";
@import "showcase";
@import "info";
@import "about";
@import "shop";
@import "creators";
@import "ingridients";
@import "contact";
@import "input";
@import "footer";
@import "footer-nav";
@import "product";
@import "checkout";

body {
  background-color: $main-bg-color;

  &.has-modal {
    overflow: hidden;
    height: 100vh;
  }
}

a,
button,
input {
  &:focus {
    outline-color: $highlight-color;
  }
}
