$main-font-family: "Raleway", sans-serif;
$main-bg-color: #e4dfd3;
$main-font-color: #333;
$highlight-color: #344f10;
$footer-bg-color: #8c9772;
$footer-font-color: #e4dfd3;
$breakpoint-small: 766px;
